:root {
  --header-bg: #673dc3;
  --header-text: #fff;
  --btn-text: #8632c3;
  --btn-activeBg: #000;
  --btn-activeText: #fff;
  --card-bg: #fff;
  --card-text: #000;
  --card-svg: #000;
  --card-svgBg: #673cd3;
  --body-bg: #fff;
}

.app {
  --header-bg: #0d6bf7;
  --header-text: #eeeeee;
  --btn-text: #eeeeee;
  --btn-activeBg: #0642a3;
  --btn-activeText: #ffd369;
  --card-bg: #1c5cc2;
  --card-text: #eeeeee;
  --card-svg: #6410a8;
  --card-svgBg: #c6be1b;
  --body-bg: #000;
}
.cart {
  max-width: 400px;
  margin-top: 10px;
  padding: 10px 11px;
  gap: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px 5px #3b3b3b53;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.item {
  width: 380px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border: 2px solid #000;
}
.rasm {
  width: 50px;
}
.count {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--header-bg);
  color: #fff;
  font-weight: 600;
}
.deleteBtn {
  border: none;
  outline: none;
  font-size: 25px;
  background-color: transparent;
  color: #6410a8;
}
.deleteBtn:hover {
  color: red;
}
