.container {
  height: fit-content;
  width: 1280px;
   padding: 15px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;

}
.header{
  width: 100%;
  position: fixed;
   z-index: 1;
   background-color: var(--header-bg);
}
.navList{
    display: flex;
    gap: 30px;
}
.logoText{
    color: aliceblue;
    font-size: 26px;
    margin-right: 100px;
}
.navLink{
    font-size: 20px;
    color: var(--header-text);
}
.navLink.active{
       opacity: 0.5;
}
.btnDiv{
    display: flex;
    align-items: center;
    gap: 25px;
}
.headerBtn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 0.3em 1.2em;
  border-radius:  13px;
  font-size: 1.3rem;
  font-weight: 550;
  color: #000000;
  background-size: 100% 100%;
}
.headerBtn:hover {
  animation: background 3s linear infinite;
}
.cart{
  font-size: 32px;
  color: #fff;
}

